@import "nprogress/nprogress.css";

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/Inter-Italic.woff2#iefix') format('woff2'),
    url('./assets/fonts/Inter-Italic.woff') format('woff');
}
.inter {
  font-family: 'Inter';
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}
body {
  margin: 0;
  padding: 0;
}
#nprogress {
  .bar {
    height: 3px;

    background: orange;

    .peg {
      box-shadow: 5px 5px 10px orange, 2px 2px 5px orange;
    }
  }
  .spinner {
    display: none;
  }
}
